<form name="getProfile">

    <div>
        <br>
        <br>
        <label>Welcome aboard Hashkat !</label>
        <label>At the end of this questionnaire, you will receive your configuration file for hashkat, a personalized copy of <i>INPUT.yaml</i> sent to the E-Mail address provided. There will also be an option to download the file if you prefer.</label>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" ng-model="formData.name" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" ng-model="formData.email" required>
    </div>

    <div class="col-sm-12" >
        <br>
        <br>
        <img class="col-sm-2" src="assets/cat_profile.png">
        <code> Hello {{formData.name}} !
            <br>Remember to put in your correct E-Mail address to jump to the next section
        </code>
        <br>
        <br>
    </div>

    <div class="form-group row" ng-show = "formData.name != null && formData.email != null">
        <div class="col-xs-6 col-xs-offset-3">
            <a class="btn btn-block btn-info" ui-sref="form.ques-maxTime">
        Next Section 
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        </div>
    </div>

</form>